<div>
    <div class="video-container">
        <div class="video">
            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" events="true" width="100%" height="100%">
                <embed pluginspage="http://www.videolan.org"
                       type="application/x-vlc-plugin"
                       version="VideoLAN.VLCPlugin.2"
                       width="100%"
                       height="100%"
                       toolbar="false"
                       branding="true"
                       id="vlc"
                ></embed>
            </object>
        </div>
        <div class="video-controls">
            <div class="toolbar">
                <button type="button" class="btn btn-default pull-left" ng-click="vlcTogglePause()">
                    <span class="glyphicon" ng-class="vlc.playlist.isPlaying ? 'glyphicon-pause' : 'glyphicon-play'"></span>
                </button>
                <span>{{ videoCurrentTime | time2String }} / {{ videoDuration | time2String }}</span>
                <div class="form-inline pull-right">
                    <button type="button" class="btn btn-default" ng-click="vlcToggleMute()">
                        <span class="glyphicon" ng-class="vlc.audio.mute ? 'glyphicon-volume-off' : 'glyphicon-volume-up'"></span>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-sound-5-1"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="n in [] | range:vlc.audio.count">
                                <a href="" ng-click="vlcSwitchAudioTrack(n)">
                                    {{ vlc.audio.description(n) }}&nbsp;<span class="glyphicon glyphicon-ok" ng-show="vlc.audio.track == n"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-subtitles"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="n in [] | range:vlc.subtitle.count">
                                <a href="" ng-click="vlcSwitchSubtitleTrack(n)">
                                    {{ vlc.subtitle.description(n) }}&nbsp;<span class="glyphicon glyphicon-ok" ng-show="vlc.subtitle.track == n"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="vlcToggleFullscreen()">
                        <span class="glyphicon glyphicon-resize-full"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
